:root {
	--red: #ff3b30;
	--yellow: #ffcc00;
	--green: #28d353;
	--blue:  #0091EA;
	--white: #FFFFFF;
	--grey: #bfbfbf;
  }

.header-icons{
	margin-right:20px;
}

.profile-icon{
	color: white;
}

.discard-button{
	background-color: var(--red) !important;
	border: none !important;
	display: inline-block !important;
}

.confirm-button{
	background-color: var(--green) !important;
	border: none !important;
	display: inline-block !important;
}

.cancel-button{
	background-color: var(--grey) !important;
	border: none !important;
	display: inline-block !important;
}

.delete-button{
	background-color: var(--red) !important;
	border: none !important;
	display: inline-block !important;
}
.edit-button{
	background-color: var(--blue) !important;
	border: none !important;
	display: inline-block !important;
}
.add-button{
	background-color: var(--white) !important;
	display: inline-block !important;
	border-radius: 100px !important;
	font-size: 15px !important;
	color: var(--green) !important;
	outline: auto !important;
}
.margin-left{
	margin-left: 15px;
}

.title-with-add{
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards-container1 {
	display:grid;
	grid-gap:30px;
	grid-template-columns: 1fr 2fr;
}
.mini-container {
	display:grid;
	grid-gap:30px;
	grid-template-columns: repeat(2, 1fr);
}
.cards-container2 {
	margin-top:20px;
	display:grid;
	grid-gap:40px;
	grid-template-columns: repeat(2, 1fr)
}
.cards-container2 .card {
	max-width:500px;
}
.modal-full{
	width: 100%;
	height: 100%;
	z-index: 1010;
	position:fixed;
	background-color: hsla(0, 0%, 0%, 0.281);
	transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-container{
	position: relative;
    display: flex;
    flex-direction: column;
    width: 50vw;
    pointer-events: auto;
    background-color: var(--white);
    background-clip: padding-box;
    border-radius: 10px;
    outline: 0;
}
.modal-header{
	padding: 12px;
	border-bottom: 1px solid black;
}
.modal-body{	
	padding:16px;
}
.modal-footer{
	display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 12px;
    border-top: 1px solid black;
}

@media (max-width:1240px) {
	.cards-container1 {
		grid-template-columns: repeat(2, 1fr);
	}
	.mini-container {
		grid-template-columns: 1fr;
	}
}

@media (max-width:900px) {
	.cards-container1 {
		margin:0 auto;
		max-width:450px;
		grid-template-columns: 1fr;
	}
	.cards-container2 {
		margin:30px auto;
		max-width:450px;
		grid-template-columns: 1fr;
	}
}