:root {
	--red: #ff3b30;
	--yellow: #ffcc00;
	--green: #28d353;
	--blue:  #0091EA;
	--white: #FFFFFF;
  }

.delete-button{
	background-color: var(--red) !important;
	border: none !important;
	display: inline-block !important;
}
.edit-button{
	background-color: var(--blue) !important;
	border: none !important;
	display: inline-block !important;
}
.add-button{
	background-color: var(--white) !important;
	display: inline-block !important;
	border-radius: 100px !important;
	font-size: 15px !important;
	color: var(--green) !important;
	outline: auto !important;
}

.title-with-add{
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards-container1 {
	display:grid;
	grid-gap:30px;
	grid-template-columns: 1fr 2fr;
}
.mini-container {
	display:grid;
	grid-gap:30px;
	grid-template-columns: repeat(2, 1fr);
}
.cards-container2 {
	margin-top:20px;
	display:grid;
	grid-gap:40px;
	grid-template-columns: repeat(2, 1fr)
}
.cards-container2 .card {
	max-width:500px;
}

@media (max-width:1240px) {
	.cards-container1 {
		grid-template-columns: repeat(2, 1fr);
	}
	.mini-container {
		grid-template-columns: 1fr;
	}
}

@media (max-width:900px) {
	.cards-container1 {
		margin:0 auto;
		max-width:450px;
		grid-template-columns: 1fr;
	}
	.cards-container2 {
		margin:30px auto;
		max-width:450px;
		grid-template-columns: 1fr;
	}
}